.header{
  font-size: 3em;
  color: white;
  text-align: center;
  background-color: darkcyan;
  padding: 1%;
}
.search-cls{
  padding-top: 2%;
  padding-bottom: 2%;
}
table th{
  background-color: darkcyan;
  color: white;
}
.search-btn-cls{
  background-color: darkcyan;
  color: white;
}
.center{
  text-align: center;
}
#table-pagination{
  border: solid 1px;
  height: 53px;
  background-color: lightgray;
  color:blue;

}
