<header class="header">Stack Exchange App</header>

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 search-cls">
		        <div class="input-group">
                <div class="input-group-btn search-panel"></div>
                <input type="text" class="form-control" name="search_pattern" [(ngModel)]="search_pattern"  (keyup.enter)="getStackData(search_pattern)" placeholder="Search stack by TAGS...">
                <span class="input-group-btn">
                    <button class="btn btn-default search-btn-cls" type="button" (click)="getStackData(search_pattern)"><span class="fa fa-search"></span></button>
                </span>
            </div>
        </div>
	</div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-cls">
      <p-table [value]="stackData" [paginator]="true" [rows]="10">
          <ng-template pTemplate="header">
              <tr>
                  <th>Score</th>
                  <th>Question</th>
                  <th>Number Of Views</th>
                  <th>Tags</th>
                  <th>Asked or Answered time</th> 
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns>
              <tr [class.accespted-answer]="columns.accepted_answer_id" (click)="getAnswers(columns.accepted_answer_id, columns.title);">
                  <td >{{columns.score}}</td>
                  <td >{{columns.title}}</td>
                  <td >{{columns.view_count}}</td>
                  <td >{{columns.tags}}</td>
                  <td >{{columns.last_activity_date|date:'fullDate'}}</td>
              </tr>
          </ng-template>
      </p-table>
    </div>
  </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-10">
            <div #answersModal class="modal fade" id="answersModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="answersModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="answersModalLabel">{{question}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <p-table [value]="answersList" [paginator]="true" [rows]="10">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>Score</th>
                                    <th>Answer</th>
                                    <th>Reputation</th>
                                    <th>Name</th>
                                    <th>Asked or Answered time</th> 
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-columns>
                                <tr>
                                    <td >{{columns.score}}</td>
                                    <td >{{columns.owner.link}}</td>
                                    <td >{{columns.owner.reputation}}</td>
                                    <td >{{columns.owner.display_name}}</td>
                                    <td >{{columns.last_activity_date|date:'fullDate'}}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                    <div class="modal-footer">
                    <button id="okBtn" type="button" class="btn btn-sm btn-blue" data-dismiss="modal" aria-label="Close">Close</button>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div [ngClass]="loadingPage"></div>
